@import url('https://fonts.googleapis.com/css?family=Roboto');

* { box-sizing: border-box }

body {
  background-color: #e8eceb;
  font-family: 'Roboto';
  font-size: 1.5vw;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  margin-top: 30px;
}

.header .logo {
  float: left;
}

.header > .logo > img {
  height: 4vw;
}

.header .title {
  float: right;
  margin-top: 1.3vw;
}

.header span {
  vertical-align: middle;
  font-size: 1.8vw;
  color: #08ab6b;
}

.barForm {
  clear: both;
  background-color: #ffffff;
  padding: 2vw;
}

.barAddUser, .formAddUser {
  display: inline-block;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
}

.formAddUser input, .barForm .buttonSolid {
  margin-right: 1vw;
}

.formAddUser div {
  float: left;
}

.barForm .notification {
  padding-left: 2vw;
}

.circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  padding: 0vw;
  text-align: center;
}

.success {
  color: green;
}

.warning {
  color: red;
}

.left {
  display: inline-block;
  position: relative;
  float: left;
}

.right {
  display: inline-block;
  position: relative;
  float: right;
}

.reset {
  color: red;
  text-decoration: underline;
  font-size: 1.3vw;
}

.formError {
  clear: both;
  color: red;
}

.buttonSolid {
  border-color: #0bab6b;
  background-color: #0bab6b;
  border-width: 1px;
  border-style: solid;
  padding: .5vw;
  -moz-border-radius: .2vw;
  -webkit-border-radius: .2vw;
  border-radius: .2vw;
  color: #FFF;
  font-weight: bold;
  font-size: 1.3vw;
}

.buttonOutline {
  border-color: #0bab6b;
  border-width: 1px;
  background-color: #FFF;
  border-style: solid;
  padding: .5vw;
  -moz-border-radius: .2vw;
  -webkit-border-radius: .2vw;
  border-radius: .2vw;
  color: #0bab6b;
  font-weight: bold;
  font-size: 1.3vw;
}

.buttonSolid a {
  text-decoration: none;
  color: #FFF;
}

.buttonOutline a {
  text-decoration: none;
  color: #0bab6b;
}

input {
  -moz-border-radius: .2vw;
  -webkit-border-radius: .2vw;
  border-radius: .2vw;
  border: 1px solid #cfd4d6;
  height: 6.5vh;
  padding: .5vw;
  background-color: #FFF;
  color: #6f7f85;
}

