@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #e8eceb;
  font-family: 'Roboto';
  font-size: 1.5vw;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  margin-top: 30px;
}

.header .logo {
  float: left;
}

.header > .logo > img {
  height: 4vw;
}

.header .title {
  float: right;
  margin-top: 1.3vw;
}

.header span {
  vertical-align: middle;
  font-size: 1.8vw;
  color: #08ab6b;
}
.bar-form {
  clear: both;
  background-color: #ffffff;
  padding: 20px;
}

