
.users {
  background-color: #ffffff;
  border-spacing: 0vw;
  width: 100%;
  color: #6f7f85;
  margin-bottom: 4vw;
}

.users th, td {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.users thead tr {
  background-color: #e8eceb;
}

.users th {
  color: #6f7f85;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.users tr:nth-child(even) {
  background-color: #f8f9f9;
}

.users tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.headerLP, .dataLP {
  width: 15vw;
  padding-left: 2vw;
}

.headerUser, .dataUser {
  width: 35vw;
}

.headerEmail, .dataEmail {
  width: 35vw;
}

.headerDelete, .dataDelete {
  width: 15vw;
  text-align: right;
  padding-right: 2vw;
}

.dataDelete div {
  cursor: pointer;
}

.lpBG {
  background-color: #e8eceb;
  font-weight: bold;
  width: 2.4vw;
  line-height: 2.4vw;
}

